/* 
---TYPOGRAPHY SYSTEM

- font-size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98




 ---WHITESPACE
 - spacing system (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- font-weight
DEfault: 400
Medium: 500
Bold: 700
Extrabold: 800

---BORDER-RADIUS
   - 7px
   - 50px
   - 20px
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem hsla(252, 100%, 67%, 0.384);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(224, 30%, 27%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-4-rows {
  grid-template-rows: repeat(4, 1fr);
}

.padding-helper-md {
  padding: 3.2rem;
}
